#red-center-blue-rectangle {
  color:red;
  text-align:center;
  border: 20px blue;
}

#black-left-white-round-red {
  background-color:black;
  text-align:left;
  color:white;
  border:10px red;
  border-radius:5px;
}

#paragraph-color {
 color:#ffcc00; 
}

.paralink{
  color:blue;
}
