.toptitle {
  text-align:center;
  font-family:"Comic Sans MS";
}

.listtitle {
  font-weight:bold;
  font-size:20px;
}

.button {
    background-color: rgb(0,0,255); /* Blue */
    border: 10px;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 32px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover{
  background-color: white; /* White */
  color:black; 
}
